<div class="row">
   <div class="col-sm-1">
       <input type="checkbox" (click)="toggleTask()" [(ngModel)]="task.isDone"/>
   </div>
   <div class="col-sm-10">
       <span [ngClass]="task.isDone ? 'task-done' : 'task'" (click)="enableEditing()" *ngIf="!editable">{{task.name}}</span>

      <form *ngIf="editable" class="form-group" (submit)="editName()">
         <input type="text" class="form-control input-sm" [(ngModel)] = "editedName" name="newName" (blur)="disableEditing()" focus/>
      </form>
   </div>
   <div class="col-sm-1">
       <span (click)="deleteTask()" class="glyphicon glyphicon-trash" style="cursor:pointer;"></span>
   </div>
</div>
