<div class="container">
    <form novalidate [formGroup]="form" (ngSubmit)="onSubmit(form)">
      <div class="form-group">
        <input type="text" name="task" placeholder="Add a task" [ngClass]="form.get('newTask').hasError('required') && form.get('newTask').touched ? 'form-control form-control-danger' : 'form-control'" formControlName="newTask"/>
        <div class="error" *ngIf="form.get('newTask').hasError('required') && form.get('newTask').touched">
          Name is required
      </div>
      </div>
    </form>
</div>

<div class="container">
 <div class="col-sm-9">
     <ul class="list-group">
        <li *ngFor="let aTask of tasks" class="list-group-item">
          <app-task [task]="aTask" (notify)="onNotify($event)"></app-task>
        </li>
      </ul>
  </div>
</div>
